/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(236, 227, 232)
  
}
 .container {
  width: 100vw;
  height: 100vh;
  background-image: url(/public/image/main_company.png);
  background-repeat: no-repeat;
} */
